# Don't commit binaries
*.a
*.asm
*.dll
*.dylib
*.exe
*.lib
*.out
*.o
*.so
*.so.*

# Exclude editor config
.vscode/
.vs/

# Exclude temporary folders
*.egg-info/
build/
build_cmake/
python/dist/
doc/_build

# Exclude macOS folder attributes
.DS_Store

# Exclude macOS Info.framework.plist
Info.framework.plist

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# MuJoCo's default log file
MUJOCO_LOG.TXT

# Clang cache
.cache/

# JavaScript bindings build
wasm/**/dist/
**/node_modules/

# Development build artifacts (editable install)
mujoco_install/
python/mujoco/include/
python/mujoco/plugin/
python/mujoco/cmake
python/mujoco/simulate
python/mujoco/MuJoCo_*
python/mujoco/enum_traits.h
python/mujoco/function_traits.h
python/mujoco/specs.cc.inc
.venv

