# Don't commit binaries
*.a
*.asm
*.dll
*.dylib
*.exe
*.lib
*.out
*.o
*.so
*.so.*

# Exclude editor config
.vscode/
.vs/

# Exclude temporary folders
__pycache__/
*.egg-info/
build/
build_cmake/

# Exclude macOS folder attributes
.DS_Store

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Exclude copied and generated artifacts for editable python package installation
python/LICENSE
python/cmake/
python/mujoco/enum_traits.h
python/mujoco/function_traits.h
python/mujoco/include/
python/mujoco/libmujoco.so*
python/mujoco/libmujoco_nogl.so*
python/mujoco/libmjsimulate.so*
